%section.py-5
  .container
    .row
      .col-md-3.col-sm-6
        %a{:href => "#"}
          %img.img-fluid.d-block.mx-auto{:alt => "", :src => "img/logos/envato.jpg"}/
      .col-md-3.col-sm-6
        %a{:href => "#"}
          %img.img-fluid.d-block.mx-auto{:alt => "", :src => "img/logos/designmodo.jpg"}/
      .col-md-3.col-sm-6
        %a{:href => "#"}
          %img.img-fluid.d-block.mx-auto{:alt => "", :src => "img/logos/themeforest.jpg"}/
      .col-md-3.col-sm-6
        %a{:href => "#"}
          %img.img-fluid.d-block.mx-auto{:alt => "", :src => "img/logos/creative-market.jpg"}/