%header.masthead
  .container
    .intro-text
      .intro-lead-in{style: "color: #6633FF"} Welcome To My Home!
      .intro-lead-in{style: "color: #6633FF"} Nice To Meet You
      %a.btn.btn-primary.btn-xl.text-uppercase.js-scroll-trigger{:href => "#profile"} Tell Me More