%nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top{:style => "background-color: #e3f2fd;"}
  .container
    %a.navbar-brand.js-scroll-trigger{:href => "#page-top"} My Homepage
    %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
      Menu
      %i.fas.fa-bars
    #navbarResponsive.collapse.navbar-collapse
      %ul.navbar-nav.text-uppercase.ml-auto
        %li.nav-item
          %a.nav-link.js-scroll-trigger{:href => "#profile"} Profile
        %li.nav-item
          %a.nav-link.js-scroll-trigger{:href => "#personalhistory"} personal history
        %li.nav-item
          %a.nav-link.js-scroll-trigger{:href => "#photogalley"} Photo Galley
        %li.nav-item
          %a.nav-link.js-scroll-trigger{:href => "#portfolio"} Portfolio
        %li.nav-item
          %a.nav-link.js-scroll-trigger{:href => "#contact"} Contact