%section#personalhistory.page-section
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading.text-uppercase Personal History
        %h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
    .row
      .col-lg-12
        %ul.timeline
          %li
            .timeline-image
              %img.rounded-circle.img-fluid{:alt => "", :src => "img/about/1.jpg"}/
            .timeline-panel
              .timeline-heading
                %h4 2009-2011
                %h4.subheading Our Humble Beginnings
              .timeline-body
                %p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
          %li.timeline-inverted
            .timeline-image
              %img.rounded-circle.img-fluid{:alt => "", :src => "img/about/2.jpg"}/
            .timeline-panel
              .timeline-heading
                %h4 March 2011
                %h4.subheading An Agency is Born
              .timeline-body
                %p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
          %li
            .timeline-image
              %img.rounded-circle.img-fluid{:alt => "", :src => "img/about/3.jpg"}/
            .timeline-panel
              .timeline-heading
                %h4 December 2012
                %h4.subheading Transition to Full Service
              .timeline-body
                %p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
          %li.timeline-inverted
            .timeline-image
              = image_tag "img/myphoto3.jpeg", alt:"", class:"rounded-circle img-fluid"
              -# %img.rounded-circle.img-fluid{:alt => "", :src => "img/myphoto3"}/
            .timeline-panel
              .timeline-heading
                %h4 July 2014
                %h4.subheading Phase Two Expansion
              .timeline-body
                %p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
          %li.timeline-inverted
            .timeline-image
              %h4
                Be Part
                = succeed "Of" do
                  %br/
                = succeed "Story!" do
                  %br/