%section#personalhistory.page-section
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading.text-uppercase Personal History
        %h3.section-subheading.text-muted Introducing my background
    .row
      .col-lg-12
        %ul.timeline
          %li
            .timeline-image
              = image_tag "img/history/born.jpeg", alt:"", class:"rounded-circle img-fluid"
            .timeline-panel
              .timeline-heading
                %h4 1987-
                %h4.subheading この世に生を受ける
              .timeline-body
                %p.text-muted 藤原家の次男坊。三兄弟の末っ子であり甘やかされて育てられる。実家がお寺であり、小さい頃からお経を読む習慣があったことから、今でもかなり暗唱できる。
          %li.timeline-inverted
            .timeline-image
              %img.rounded-circle.img-fluid{:alt => "", :src => "img/about/2.jpg"}/
            .timeline-panel
              .timeline-heading
                %h4 1995-2006
                %h4.subheading 小・中・高校生
              .timeline-body
                %p.text-muted とにかく体を動かすことが大好きだった。部活ではサッカー部に所属する。高校時代には、当時野洲高校の乾選手（2018年日本代表）試合でマッチアップしたこともある（コテンパンにやられましたけどね）。
          %li
            .timeline-image
              %img.rounded-circle.img-fluid{:alt => "", :src => "img/about/3.jpg"}/
            .timeline-panel
              .timeline-heading
                %h4 2006-2012
                %h4.subheading 大学時代
              .timeline-body
                %p.text-muted 大学時代が無駄に長い。それもそのはず、6年間行ったのだから笑　関西大学工学部に入学も、「小学校の先生になりたい！」と思い立ち教育学部のある大学への編入を決意。卒業後は、地元滋賀県の教員採用試験に無事合格し、教職員への道を歩み始める。
          %li.timeline-inverted
            .timeline-image
              = image_tag "img/history/myphoto3.jpeg", alt:"", class:"rounded-circle img-fluid"
            .timeline-panel
              .timeline-heading
                %h4 2013-2019
                %h4.subheading 教職員時代
              .timeline-body
                %p.text-muted 滋賀に帰り地元の小学校に勤務。７年間で１年生から６年生まですべての学年を担任する（７年間でこれは結構珍しい）。このころからICT教育について非常に興味があり、自前のiPadで授業などを行っていた。これが後にプログラミングへの興味へと繋がる…
          %li.timeline-inverted
            .timeline-image
              %h4
                Be Part
                = succeed "Of" do
                  %br/
                = succeed "Story!" do
                  %br/