/ Modal 1
#portfolioModal1.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .close-modal{"data-dismiss" => "modal"}
        .lr
          .rl
      .container
        .row
          .col-lg-8.mx-auto
            .modal-body
              / Project Details Go Here
              %h2.text-uppercase Project Name
              %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
              = image_tag "img/photogalley/sakura.jpeg", alt:"", class: "img-fluid.d-block mx-auto", size: "350x262"
              %img.img-fluid.d-block.mx-auto{:alt => "", :src => "img/portfolio/01-full.jpg"}/
              %p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
              %ul.list-inline
                %li Date: January 2017
                %li Client: Threads
                %li Category: Illustration
              %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                = fa_icon("times")
                -# %i.fas.fa-times
                Close Project
/ Modal 2
#portfolioModal2.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .close-modal{"data-dismiss" => "modal"}
        .lr
          .rl
      .container
        .row
          .col-lg-8.mx-auto
            .modal-body
              / Project Details Go Here
              %h2.text-uppercase Project Name
              %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
              %img.img-fluid.d-block.mx-auto{:alt => "", :src => "img/portfolio/02-full.jpg"}/
              %p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
              %ul.list-inline
                %li Date: January 2017
                %li Client: Explore
                %li Category: Graphic Design
              %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                %i.fas.fa-times
                Close Project
/ Modal 3
#portfolioModal3.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .close-modal{"data-dismiss" => "modal"}
        .lr
          .rl
      .container
        .row
          .col-lg-8.mx-auto
            .modal-body
              / Project Details Go Here
              %h2.text-uppercase Project Name
              %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
              %img.img-fluid.d-block.mx-auto{:alt => "", :src => "img/portfolio/03-full.jpg"}/
              %p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
              %ul.list-inline
                %li Date: January 2017
                %li Client: Finish
                %li Category: Identity
              %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                %i.fas.fa-times
                Close Project
/ Modal 4
#portfolioModal4.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .close-modal{"data-dismiss" => "modal"}
        .lr
          .rl
      .container
        .row
          .col-lg-8.mx-auto
            .modal-body
              / Project Details Go Here
              %h2.text-uppercase Project Name
              %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
              %img.img-fluid.d-block.mx-auto{:alt => "", :src => "img/portfolio/04-full.jpg"}/
              %p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
              %ul.list-inline
                %li Date: January 2017
                %li Client: Lines
                %li Category: Branding
              %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                %i.fas.fa-times
                Close Project
/ Modal 5
#portfolioModal5.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .close-modal{"data-dismiss" => "modal"}
        .lr
          .rl
      .container
        .row
          .col-lg-8.mx-auto
            .modal-body
              / Project Details Go Here
              %h2.text-uppercase Project Name
              %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
              %img.img-fluid.d-block.mx-auto{:alt => "", :src => "img/portfolio/05-full.jpg"}/
              %p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
              %ul.list-inline
                %li Date: January 2017
                %li Client: Southwest
                %li Category: Website Design
              %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                %i.fas.fa-times
                Close Project
/ Modal 6
#portfolioModal6.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .close-modal{"data-dismiss" => "modal"}
        .lr
          .rl
      .container
        .row
          .col-lg-8.mx-auto
            .modal-body
              / Project Details Go Here
              %h2.text-uppercase Project Name
              %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
              %img.img-fluid.d-block.mx-auto{:alt => "", :src => "img/portfolio/06-full.jpg"}/
              %p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
              %ul.list-inline
                %li Date: January 2017
                %li Client: Window
                %li Category: Photography
              %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                %i.fas.fa-times
                Close Project
