%section#portfolio.page-section
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading.text-uppercase Portfolio
        %h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
    .row.text-center
      .col-md-4
        .portfolio-hover-content
        = image_tag "img/portfolio/merucari.png", alt:"", class:"img-fluid", size: "350x262"
        %h4.service-heading メルカリのコピーサイト
        %p.text-muted 開発環境
        %ul{style: "text-align: left"}
          %li ruby/Ruby on Rails
          %li javascript jquery
          %li MySQL
          %li Github
          %li AWS
          %li Visual Studio Code
        %p TECH::EXPERTの最終課題にて作成したアプリケーションです。開発人数は4人、アジャイル型開発（スクラム）、Trelloによるタスク管理など取り入れ、約3週間で完成させました。

      .col-md-4
        .portfolio-hover-content
        = image_tag "img/portfolio/merucari.png", alt:"", class:"img-fluid", size: "350x262"
        %h4.service-heading Responsive Design
        %p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
      .col-md-4
        .portfolio-hover-content
        = image_tag "img/portfolio/merucari.png", alt:"", class:"img-fluid", size: "350x262"
        %h4.service-heading Web Security
        %p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.