%section#portfolio.page-section
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading.text-uppercase Portfolio
        %h3.section-subheading.text-muted ポートフォリオを紹介します。
    .row.text-center
      .col-md-4
        .portfolio-hover-content
        = image_tag "img/portfolio/merucari.png", alt:"", class:"img-fluid", size: "350x262"
        %h4.service-heading メルカリのコピーサイト
        %p.text-muted 開発環境
        %ul{style: "text-align: left"}
          %li ruby/Ruby on Rails
          %li javascript jquery
          %li bootstrap
          %li MySQL
          %li Github
          %li AWS
          %li Visual Studio Code
        %p TECH::EXPERTの最終課題にて作成したアプリケーションです。開発人数は4人、アジャイル型開発（スクラム）、Trelloによるタスク管理など取り入れ、約3週間で完成させました。

      .col-md-4
        .portfolio-hover-content
        = image_tag "img/portfolio/myblog4.jpeg", alt:"", class:"img-fluid", size: "350x262"
        %h4.service-heading MyBlog4
        %p.text-muted 開発環境
        %ul{style: "text-align: left"}
          %li ruby/Ruby on Rails
          %li javascript jquery
          %li materialize
          %li activestorage
          %li MySQL
          %li Github
          %li AWS
          %li Visual Studio Code
        %p ruby on rails の復習もかねてブログシステムを作ってみました。
      .col-md-4
        .portfolio-hover-content
        = image_tag "img/portfolio/junbi.jpeg", alt:"", class:"img-fluid", size: "350x262"
        %h4.service-heading ただいま開発中です！
        -# = image_tag "img/portfolio/merucari.png", alt:"", class:"img-fluid", size: "350x262"
        -# %h4.service-heading メルカリのコピーサイト
        -# %p.text-muted 開発環境
        -# %ul{style: "text-align: left"}
        -#   %li ruby/Ruby on Rails
        -#   %li javascript jquery
        -#   %li bootstrap
        -#   %li MySQL
        -#   %li Github
        -#   %li AWS
        -#   %li Visual Studio Code
        -# %p TECH::EXPERTの最終課題にて作成したアプリケーションです。開発人数は4人、アジャイル型開発（スクラム）、Trelloによるタスク管理など取り入れ、約3週間で完成させました。